.level_zero {
	background-color: gray;
}

.level_one {
	background-color: blue;
}

.level_two {
	background-color: yellow;
}

.level_three {
	background-color: red;
}

.closeable{
	border: 4px dashed pink;
}

.closeable.closed {
	border: 4px solid purple !important;
}

.box {
	width: 100px;
	height: 100px;
	position: absolute;

}

#src_1 {
	background-color: blue !important;
	top: 100px;
	left: 100px;
}

#src_2 {
	background-color: yellow !important;
	top: 340px;
	left: 340px;
}

#src_3 {
	background-color: red !important;
	top: 580px;
	left: 580px;
}

#node_1 {
	top: 100px;
	left: 220px;
}

#node_2 {
	top: 100px;
	left: 340px;
}

#node_3 {
	top: 100px;
	left: 460px;
}

#node_4 {
	top: 100px;
	left: 580px;
}
#node_5 {
	top: 220px;
	left: 100px;
}

#node_6 {
	top: 220px;
	left: 220px;
}

#node_7 {
	top: 220px;
	left: 340px;
}

#node_8 {
	top: 220px;
	left: 460px;
}

#node_9 {
	top: 220px;
	left: 580px;
}

#node_10 {
	top: 340px;
	left: 100px;
}
#node_11 {
	top: 340px;
	left: 220px;
}
#node_12 {
	top: 340px;
	left: 460px;
}
#node_13 {
	top: 340px;
	left: 580px;
}
#node_14 {
	top: 460px;
	left: 100px;
}
#node_15 {
	top: 460px;
	left: 580px;
}
#node_16 {
	top: 460px;
	left: 340px;
}

